<div class="card-booking-container">
  <%= link_to "back",samurais_path(), class: "btn btn-primary",id:"button"%>
  <% @bookings.each do |booking| %>
    <div class="card-product">
      <%= cl_image_tag(booking.samurai.photo.key) %>
      <div class="card-product-infos booking-card-width">
        <h3><%="#{booking.samurai.name} samurais"%></h3>
        <h4> <%= "Period: #{booking.num_of_days} days" %></h4>
        <p><%= "Description: #{booking.samurai.description}" %></p>
      </div>
      <div>
      </div>
      <%= render "daimyo/bookings/status", booking: booking %>
    </div>
  <% end %>
</div>
