<%= simple_form_for [@samurai, @booking], html: { class: 'mt-3' } do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <div class="d-flex justify-content-between px-5">
    <%= link_to "Go Back",  samurais_path, class: 'btn btn-secondary text-decoration-none' %>
    <%= f.button :submit, class: 'btn btn-flat'%>
  </div>
<% end %>
