<h1 class = "samurais-title">Here are the Samurais</h1>
<div class="d-flex justify-content-center search-box">
  <div class="col-lg-8">
    <%= form_with url: samurais_path, method: :get, class: "d-flex justify-content-center py-5" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control w-50",
            placeholder: "Type a keyword"
        %>
      <div class="d-flex justify-content-between px-3 gap-3">
       <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <%= link_to "Show All", samurais_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
<div class="cards">
  <% @samurais.each do |samurai| %>
    <div class="card-trip">
      <%= cl_image_tag(samurai.photo.key) %>
      <div class="card-trip-infos">
        <div class="samurai-card-width">
          <h3><%="#{samurai.name} Samurai"%></h3>
          <p class="truncate"><%= "#{samurai.description}" %></p>
        </div>
        <h3 class="card-trip-pricing">
          <div class = "info_box">
            <p><i class="fa-solid fa-people-group me-2"></i><%= samurai.group_size %></p>
            <p><%= "¥#{samurai.price_per_day}" %></p>
          </div>
        </h3>
        <div class="card-trip-user d-flex justify-content-between align-items-end">
          <p><%= "#{samurai.user.username}" %></p>
          <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Ii_Naosuke_Portrait_by_Ii_Naoyasu.jpg" class="avatar-bordered" />
        </div>
      </div>
      <%= link_to "",samurai_path(samurai),class: 'card-trip-link'%>
    </div>
  <% end %>
</div>
