<h1 class = "samurais-title">Here are the Samurais</h1>
<div class="row justify-content-center search-box">
  <div class="col-sm-8 my-3">
    <%= form_with url: samurais_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-secondary" %>
      <%= link_to "Show All", samurais_path, class: "btn btn-info" %>
    <% end %>
  </div>
</div>
<div class = "parent-container">
<%= link_to "Assemble a New Samurai", new_samurai_path, class: 'btn btn-primary rounded-pill samurai-button'%>
</div>
<div class="cards">
  <% @samurais.each do |samurai| %>
    <div class="card-trip">
      <%= cl_image_tag(samurai.photo.key) %>
      <div class="card-trip-infos">
        <div class="samurai-card-width">
          <h3><%="#{samurai.name} Samurai"%></h3>
          <p class="truncate"><%= "#{samurai.description}" %></p>
        </div>
        <h3 class="card-trip-pricing">
          <div class = "info_box">
            <p><i class="fa-solid fa-people-group me-2"></i><%= samurai.group_size %></p>
            <p><%= "¥#{samurai.price_per_day}" %></p>
          </div>
        </h3>
        <div class="card-trip-user d-flex justify-content-between align-items-end">
          <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Ii_Naosuke_Portrait_by_Ii_Naoyasu.jpg" class="avatar-bordered" />
        </div>
      </div>
      <%= link_to "",samurai_path(samurai),class: 'card-trip-link'%>
    </div>
  <% end %>
</div>
