<h1>Here are the Samurais</h1>
<%= link_to "Create Samurai btn btn-primary", new_samurai_path, class: 'btn btn-primary'%>
<div class="cards">
  <% @samurais.each do |samurai| %>
    <div class="card-trip">
    <%= cl_image_tag(samurai.photo.key) %>
      <div class="card-trip-infos">
        <div class="samurai-card-width">
          <h3><%="#{samurai.name} Samurai"%></h3>
          <p class="truncate"><%= "#{samurai.description}" %></p>
        </div>
        <h3 class="card-trip-pricing">
          <div class = "info_box">
            <p><i class="fa-solid fa-people-group me-2"></i><%= samurai.group_size %></p>
            <p><%= "¥#{samurai.price_per_day}" %></p>
            </div>
        </h3>
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Ii_Naosuke_Portrait_by_Ii_Naoyasu.jpg" class="card-trip-user avatar-bordered" />
      </div>
      <%= link_to "",samurai_path(samurai),class: 'card-trip-link'%>
    </div>
  <% end %>
</div>
