<h1>Train a new Samurai</h1>

<%= simple_form_for(@samurai) do |f| %>
  <%= f.input :name %>
  <%= f.input :skill %>
  <%= f.input :description, as: :text %>
  <%= f.input :price_per_day %>
  <%= f.input :group_size %>
  <%= f.input :photo, as: :file %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
