<div class = "vw-80" >
<div class = "row justify-content-around">

<div class="col-8">
<div class = "profile-pic">
<%= cl_image_tag(@samurai.photo.key) %>
</div>
</div>

<div class="col-4">

  <div class = "d-flex justify-content-between align-items-end">
    <h1><%="#{@samurai.name} Samurai"%></h1>
    <div class = "d-flex justify-content-center">
      <p class = "pb-4" style="font-size: 20px;">
      <%= "Group Size: #{@samurai.group_size}" %></p>
      <p class = "pb-4 ms-3" style="font-size: 20px;"><%= "Price Per Day: ¥ #{@samurai.price_per_day}" %></p>
    </div>
  </div>
  <div>
    <h2>Skills:</h3>
    <p style="font-size: 20px;"><%= @samurai.skill %></p>
    <h2>Description:</h3>
    <p style="font-size: 20px;"><%= @samurai.description %></p>
</div>
  <h2 class ="booking-header">Book this Samurai</h2>
  <%= render "samurais/form" %>
</div>
</div>
</div>
