<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @samurai.photo.key, height: 600, crop: :fill %>')">
</div>
<div class= "text-container">
  <div class = "d-flex justify-content-between align-items-end">

    <h1><%="#{@samurai.name} Samurai"%></h1>
    <div class = "d-flex justify-content-center">
      <p class = "pb-4"><i class="fa-solid fa-people-group"></i><%= @samurai.group_size %></p>
      <p class = "pb-4 ms-3"><%= "¥#{@samurai.price_per_day}" %></p>
    </div>
  </div>
  <div>
    <h3>Skills:</h3>
    <p><%= @samurai.skill %></p>
    <h3>Description:</h3>
    <p><%= @samurai.description %></p>

  </div>
  <h2 class ="booking-header">Book this Samurai</h2>
  <%= render "samurais/form" %>
</div>
