<div class="cards">
  <% bookings.each do |booking| %>
    <div class="card-trip">
      <%= cl_image_tag(booking.samurai.photo.key) %>
      <div class="card-trip-infos">
        <div>
          <h2><%="You booked #{booking.samurai.name} samurais"%></h2>
          <p><%= "Famous Quote: #{booking.samurai.description}" %></p>
        </div>
        <h2 class="card-trip-pricing">
          <div class = "info_box">
            <p><i class="fa-solid fa-people-group"></i><%= "Size: #{booking.samurai.group_size} "%></p>
            <p><%= "Price: ¥#{booking.samurai.price_per_day}"%></p>
            <% if current_user == booking.samurai.user %>
              buttons
            <% else %>
              <p class='booking-tag'><%= booking.status %></p>
            <% end %>
          </div>
        </h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Ii_Naosuke_Portrait_by_Ii_Naoyasu.jpg" class="card-trip-user avatar-bordered" />
      </div>
      <%= render "bookings/status", booking: booking %>
    </div>
  <% end %>
</div>
