<h1>This is the index for Bookings</h1>

<h1>Bookings</h1>
<div class="cards">
  <% @samurais.each do |samurai| %>
    <div class="card-trip">
    <%= cl_image_tag(samurai.photo.key) %>
      <div class="card-trip-infos">
        <div>
          <h2><%="#{samurai.name} Samurai"%></h2>
          <p><%= "#{samurai.description}" %></p>
        </div>
        <h2 class="card-trip-pricing">
          <div class = "info_box">
            <p><i class="fa-solid fa-people-group"></i><%= samurai.group_size %></p>
            <p><%= "¥#{samurai.price_per_day}" %></p>
            </div>
        </h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Ii_Naosuke_Portrait_by_Ii_Naoyasu.jpg" class="card-trip-user avatar-bordered" />
      </div>
      <%= link_to "",samurai_path(samurai),class: 'card-trip-link'%>
    </div>
  <% end %>
</div>




<h1>Your Bookings</h1>

<div class="bookings">
  <% @bookings.each do |booking| %>
    <div class="booking">
      <h2>Samurai: <%= booking.samurai.name %></h2>
      <p>Skill: <%= booking.samurai.skill %></p>
      <p>Booked from: <%= booking.start_date %> to <%= booking.end_date %></p>
    </div>
  <% end %>
</div>
